@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --accent: #3689fc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  cursor: pointer;
}

.header {
  text-align: center;
}

.footer {
  font-size: 1.2rem;
  text-align: center;
}

.footer-icons a {
  font-size: 2em;
  user-select: none;
}

.footer-text {
  margin-top: 8px;
}
